$black: #000000;
$grey: #7d7d7d;
$whisper-grey: #e5e5e5;
$whitesmoke: #f3f3f3;
$white: #ffffff;

$heading-weight: 700;
$body-weight: 400;

$screen-md-min: 767px;
$screen-lg-min: 992px;
$screen-xl-min: 1440px;

@mixin tablet {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
